.wishlist-container {
  background-color: #f1f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 14px;
  font-family: "DM Serif Display", serif;
  margin-top: 60px;
}

.wishlist-card {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 16px;
  border-radius: 12px;
  width: 640px;
  min-height: 640px;
}

.back-arrow a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow a:hover {
  text-decoration: underline;
}

.input-group {
  width: 100%;
  border-radius: 16px;
  margin-left: 16px;
  padding: 5px;
}

.rounded-textarea::placeholder,
input[type="date"].rounded-input,
input.rounded-input-custom::placeholder {
  color: #c2bfbf;
}

label {
  display: block;
  margin-bottom: 12px;
  position: relative;
}

.required-icon {
  color: #777474;
  font-size: 14px;
  position: absolute;
  top: 0;
  margin-left: 1px;
}

.rounded-input {
  background-color: white;
  border: none;
  border-radius: 12px;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  margin-top: 8px;
}

.rounded-textarea {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  height: 120px;
  padding: 16px;
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  margin-top: 8px;
}

.save-button:hover {
  background-color: #4294ec;
}

.file-input-text {
  width: 160px;
  height: 160px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.required-field-note {
  font-size: 14px;
  color: #777474;
  margin-left: 16px;
  margin-bottom: 8px;
}